@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

:root {
  --transition: all 0.7s ease;
  --green: rgb(102, 0, 143);
  --dark: #66008f;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif; 
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
}
.btn {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 140px;
  display: block;
  margin: 15px auto;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  opacity: 0.85;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 8px 0;
}
img {
  width: 100%;
  display: block;
}
@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
}

/* header */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("images/home img.png") center/cover no-repeat;
  min-height: 100vh;
  color: whitesmoke;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.head-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-top span {
  cursor: pointer;
  letter-spacing: 10px;
  transition: var(--transition);
}
.head-top span:hover {
  color: var(--green);
}
.head-bottom {
  flex: 1;
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}
.head-bottom h2 {
  padding: 22px 0;
  font-size: 45px;
  border-bottom: 1px solid #fff;
}
.head-bottom p {
  opacity: 0.7;
  font-size: 20px;
  margin: 45px auto;
  width: 60vw;
  color: whitesmoke;
}
.head-btn {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #f1ebeb;
  background: transparent;
  padding: 13px 20px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}
.head-btn:hover {
  background: transparent;
}
.collapse{
  background: linear-gradient(rgba(200, 49, 255, 0.95), rgba(158, 0, 221, 0.95));
  font-size: 20px;
flex-direction: row;
justify-content: center;
align-items: center;
a{
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
}

}
@media (max-width: 500px) {
  .head-btn {
    font-size: 17px;
  }
  .head-bottom h2 {
    font-size: 28px;
  }
  .head-bottom p {
    font-size: 17px;
    margin: 20px auto;
  }
}

/* side nav */
.sidenav {
  background: var(--dark);
  color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 300px;
  padding: 20px;
  transition: var(--transition);
  z-index: 10;
}

/********/
.sidenav.show {
  right: 0;
}
/*************/
.cancel-btn {
  position: absolute;
  right: 25px;
  font-size: 22px;
  cursor: pointer;
  transition: var(--transition);
}
.cancel-btn:hover {
  opacity: 0.7;
}
.navbar {
  a{
    color: #ffffff;
  }
}
.navbar li a {
  color:#ffffff;
  text-transform: capitalize;
  text-decoration: none;
  padding: 15px 0;
  display: block;
  transition: var(--transition);
}
.navbar li a:hover {
  padding-left: 12px; 
  color:#260035;
}

@media (max-width: 400px) {
  .sidenav {
    width: 100vw;
  }
}

/** title */
.title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  color: var(--green);
  border-bottom: 5px solid var(--dark);
  width: 235px;
  margin: 15px 0;
  h2{
    font-size: 30px;
    font-weight: bold;
  }
}

.sec-width {
  width: 90%;
}

/* service */
.services {
  margin: 40px 0;
}
.service {
  display: flex;
  margin: 30px 0;
}
.service-icon {
  flex: 30%;
  align-self: flex-start;
  font-size: 48px;
  color: #252525;
}
.service-content {
  padding-left: 20px;
}
.service-content h2 {
  opacity: 0.7;
}
.service-content button {
  margin-left: 0;
  margin-right: 0;
  background: var(--green);
  color: #fff;
}
@media (min-width: 992px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
  .title h2 {
    /* font-size: 10px !important; */
  }
}
@media (max-width: 500px) {
  .title h2 {
    font-size: 24px;
  }
}

/* booking form */
.book {
  background: linear-gradient(rgba(102, 0, 143, 0.75), rgba(102, 0, 143, 0.75)),
    url("images/9592407aeaced83d61f54bf177658287.jpg") center/cover no-repeat;
  color: #fff;
  padding: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  height: 15vh;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.book-form {
  display: flex;
  flex-direction:initial;
  justify-content: center;
  align-items: center;
}
.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.book-form input[type="submit"] {
  margin: 18px 0 0 0;
  background: var(--dark);
  color: #fff;
  border: 1px solid #fff;
}
.book-form label,
.book-form input {
  width: 100%;
}
.book-form label {
  font-weight: 600;
  word-spacing: 5px;
  padding-bottom: 8px;
}
.book-form input:not(.btn) {
  margin: 4px 0 16px 0;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 17px;
  border: none;
  display: inline;
}
.book-form input:focus {
  outline: 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
@media (min-width: 768px) {
  .book-form {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-gap: 24px;
  }
}
@media (min-width: 1170px) {
  .book-form {
    /* grid-template-columns: repeat(3, 1fr); */
  }
}
@media (min-width: 1370px) {
  .book-form {
    /* grid-template-columns: 2fr 2fr 1fr 1fr 1fr 2fr; */
  }
  .book {
    /* height: 40vh; */
   
  }
}
@media (max-width: 500px) {
  .book {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* room */

.rooms {
margin-left: 10vw;
}
.room {
  background: var(--dark);
  color: #fff;
}
article.room{
  margin-bottom: 5vh;  
  margin-right: 10vw;
}
.room-text {
  padding: 20px 60px;
}
.room-text h3 {
  font-size: 24px;
}
.room-text ul {
  list-style-type: none;
  margin: 15px 0;
}
.room-text ul li {
  padding: 7px 0;
}
.room-text ul li i {
  color: var(--green);
  margin-right: 10px;
}
.rate {
  opacity: 0.8;
}
.rate span {
  font-size: 25px;
  font-weight: 900;
  color: white;
}
.room-image {
  overflow: hidden;
}
.room-image img {
  transition: var(--transition);
}
.room-image:hover img {
  transform: scale(1.1);
}
@media (min-width: 900px) {
  .rooms-container {
    display: flex;
    flex-wrap: wrap;
  }
  .room {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
  }
}
@media (min-width: 1370px) {
  .rooms-container {
    flex-direction: column;
  }
  .room {
    display: flex;
    padding-bottom: 0;
    margin: 5px 0;
  }
  .room-image {
    flex: 1;
  }
  .room-image img {
    height: 100%;
  }
  .room-text {
    flex: 1;
  }
  .room:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.gallery{
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vh;
  img{
    height: 70vh;
  }

}

/* dining */

.customers {
  margin-top: 8vh;
  margin-bottom: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
}
.card{
  margin-bottom: 5vh;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  
}
/* .customer {
  background: #ffffff;
  padding: 5px;
  text-align: center;
  margin: 10px 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: var(--transition);
  border-radius: 5%;
} */
.card h5 {
  font-size: 25px;
}
/* .customer p {
  font-weight: bold;
  color: #66008f;
  opacity: 0.7;
  line-height: 1.4;
  width: 60%;
  margin: 5px auto;
  text-align: center;
} */
.card img {
  width: 450px;
  height: 500px;
  border-radius: 0%;
  object-fit: cover;
  object-position: top;

}
/* .customer span {
  font-weight: 700;
  opacity: 0.7;
}
.customer:hover {
  transform: translateY(-18px);
} */
@media (min-width: 992px) {
  .customers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
@media (min-width: 1370px) {
  .customers-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .customer p {
    width: 100%;
  }
  .customer img {
    width: 100px;
    height: 100px;
  }
}

/* footer */
.footer {
  background: var(--dark);
  color: #fff;
  text-align: center;
}
.footer-container {
  width: 85vw;
  margin: 0 auto;
  padding: 30px 0;
}
.footer-container p,
.footer-container a,
.footer-container span {
  opacity: 0.8;
}
.footer a {
  display: block;
  color: #fff;
  text-decoration: none;
}
.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.social-icons li {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50%;
  transition: var(--transition);
  cursor: pointer;
}
.social-icons li:hover {
  background: #fff;
  color: black;
}
.contact-item span {
  display: block;
}
@media (min-width: 900px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (min-width: 1170px) {
  .footer {
    text-align: left;
  }
  .footer-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-container div:nth-child(1) p {
    padding-right: 20px;
  }
  .contact-item {
    display: grid;
    grid-template-columns: 10% 90%;
    margin-bottom: 15px;
    align-items: center;
  }
}

.showModal {
  position: fixed;
  background: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
